.body{
    display: flex;
    font-family: "Roboto";
    gap: 30px;
    margin :30px;
}
body{
    margin: 0;
}
#products{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    gap:0.3px;

}
.img{
    height: 150px;
    width:150px;

}
.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.productname{
    font-size: 1.2em;
    text-transform: capitalize;
}
.price{
    text-transform: capitalize;
}
.saveforlater{
    width: 150px;
    margin-right: 5px;
    
}

.saveforlater,.remove{
    border-radius: 10px;
    height: 30px;
    margin-right: 5px;
    color: white;
    background-color: rgba(19, 74, 224,.9);
    border: none;
    box-shadow: 2px 2px 5px  gray;
}
.remove{
    width: 100px;
}
.seller{
    color: gray;
}

.box{
    display: flex;
    border: 1px solid gray;
    height: 150px;
    gap: 5px;
}
.pricedetails{
    border: 1px solid gray;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    
}
.pricedetails button{
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;
    color: white;
    background-color: rgba(19, 74, 224,.9);
    border: none;
    box-shadow: 2px 2px 5px  gray;
}
.head{
    border-bottom: 1px solid gray;
    height: 30px;
    color:black;
    opacity: 0.6;
}

.fhead{
    display: flex;
    justify-content: space-between;
    background-color: rgba(19, 74, 224,.9);
    height: 60px;
    width: 100%;
}
.fheadright{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    
}
.fheadright a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: 2px solid gray;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    transition: border-color 0.5s ease;
}
.fheadright a:hover{
    border-color: rgba(255, 217, 0, 0.952);
    box-shadow: 1px 1px 1px gold;
    
}
.fheadleft{
    padding-left: 50px;
    padding-top: 15px ;
    height: 100%;
}
.material-symbols-outlined {
    color: white;
    scale: 1.5;
    display: flex;
}