body{
    margin:auto;
    display: flex;
    flex-direction: column;
    background-color: #001a33;
    min-height: 100vh;
    min-width: 100%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    height: 450px;
    width: 450px;
    background-color: white;
    border-radius: 15px;
}
.head{
    display: flex;
    height: 20%;
    font-size: 1.3rem;
}
.head h3{
    margin: auto;
}
.middle{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
}

input,button{
    border-radius: 10px;
    background-color: rgba(128,128,128,.3);
    font-size: 1.02rem;
    height: 40px;
    margin: auto;
    width: 90%;
}
.fileupload{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.fileupload label{
    margin-left: 18px;
    width: 50%;
    font-size: 1.2rem;
}
.fileupload input{
    background-color: white;
    border-radius: 0;
    padding-top: 10px;
}
button{
    background-color: #001a33;
    color: white;
    margin-top: 5px;
}
textarea{
    margin: auto;
    width: 90%;
    resize: none;
    height: 100px;
    border-radius: 10px;
    background-color: rgba(128,128,128,.3);
    font-size: 1.02rem;
}


.foot{
    height: 20px;
}