#items{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 100%;
}
.head{
    margin-left: 20px;
}
.image{
    width: 150px;
    height:  150px;
}
.box{
    display: flex;
    gap : 150px;
    height: 150px;
    border: 1px solid gray;
    margin-right: 35px;
    align-items: center;
}
body{
    font-family: "Roboto";
    margin: 0;
    overflow-x: hidden;
}
.material-symbols-outlined {
    color: white;
  }
  
.fhead{
    display: flex;
    justify-content: space-between;
    background-color: rgba(19, 74, 224,.9);
    height: 60px;
    width: 100%;
}
.fheadright{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    
}
.fheadright a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    border: 2px solid gray;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    text-align: center;
    transition: border-color 0.5s ease;
}
.fheadright a:hover{
    border-color: rgba(255, 217, 0, 0.952);
    box-shadow: 1px 1px 1px gold;
    
}
.fheadleft{
    padding-left: 50px;
    padding-top: 15px ;
    height: 100%;
}
.material-symbols-outlined {
    color: white;
    scale: 1.5;
    display: flex;
}